<meta charset="utf-8">
<style>
.clipping {
  margin-top: 1em;
  white-space: pre-wrap;
}
.quote {
  border-left: 1px solid gray;
  padding-left: 0.5em;
  margin-left: 1.5em;
}
.quote::before{
  content:"《》";
}

h2 {
  margin-bottom: 0.25em;
  font-weight: normal;
}

.date {
  color: #555;
}
.date::before {
  content: " —";
}

a {
  color: #333;
}
a:hover {
  color: #999;
  text-decoration-line: none;
}
.hidden {
  display: none;
}
</style>
<h1>クリッポ・Kurippo</h1>
{{{body}}}
<script src="add.js"></script>
