<section id="{{id}}" kurl="{{url}}" ktitle="{{title}}">
  <h2><a href="{{{url}}}">{{title}}</a></h2>
  {{#clippings}}
  {{#selection}}
  <div class="clipping{{#isQuote}} quote{{/isQuote}}" knum="{{num}}"><button class="intermission-add-button safe-button">+</button>{{selection}}<span class="date">{{date}}</span> <button class="sub-delete-button hidden">☠</button></div>
  {{/selection}}
  {{/clippings}}
  <span class="infobar">
    <span class="date">{{date}}</span>
    <button class="add-button safe-button">+</button>
    <button class="delete-button hidden">☠</button>
  </span>
</section>
